.footer{
    background-color: $firstColor;
    margin-bottom: 4rem;

    &-text{
      display: block;
      text-align: center;
      color: $whiteColor;
      padding: 1rem ;
      letter-spacing: 2px;
      & a{
        color: $blackColor;
      }
    }
}
